a img {
	border: none;
}
nav ul li {
	display: inline-block;
}
span:nth-child(1) {
	font-size: 24px;
	text-transform: uppercase;
}
span:nth-child(2) {
	font-size: 24px;
	text-decoration: line-through;
}
span:nth-child(3) {
	font-size: 24px;
	text-decoration: underline;
}
span:nth-child(4) {
	font-size: 24px;
	font-weight: bolder;
}
span:nth-child(5) {
	font-size: 3em;
	color: red;
	background-image: url("1.png");
}

	.menu {
		border-radius: 15px;
		border: 15px solid red;
	}